<%- include('../partial/admin/head.ejs') %>
<style>
    td {
        font-weight: 700;
    }

    th {
        font-size: 15px;
        text-transform: uppercase;
    }
</style>

<body class="fix-header">
    <!-- ============================================================== -->
    <!-- Preloader -->
    <!-- ============================================================== -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
    <!-- ============================================================== -->
    <!-- Wrapper -->
    <!-- ============================================================== -->
    <div id="wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <nav class="navbar navbar-default navbar-static-top m-b-0">
            <div class="navbar-header">
                <div class="top-left-part">
                    <!-- Logo -->
                    <a class="logo" href="dashboard.html">
                        <!-- Logo icon image, you can use font-icon also -->
                        <b>
                            <!--This is dark logo icon-->
                            <img src="../dashboard/plugins/images/admin-logo.png" alt="home" class="dark-logo" />
                            <!--This is light logo icon-->
                            <img src="../dashboard/plugins/images/admin-logo-dark.png" alt="home" class="light-logo" />
                        </b>
                        <!-- Logo text image you can use text also -->
                        <span class="hidden-xs">
                            <!--This is dark logo text-->
                            <img src="../dashboard/plugins/images/admin-text.png" alt="home" class="dark-logo" />
                            <!--This is light logo text-->
                            <img src="../dashboard/plugins/images/admin-text-dark.png" alt="home" class="light-logo" />
                        </span>
                    </a>
                </div>
                <!-- /Logo -->
                <ul class="nav navbar-top-links navbar-right pull-right">
                    <li>
                        <a class="nav-toggler open-close waves-effect waves-light hidden-md hidden-lg"
                            href="javascript:void(0)"><i class="fa fa-bars"></i></a>
                    </li>
                    <li>
                        <form role="search" class="app-search hidden-sm hidden-xs m-r-10">
                            <input type="text" placeholder="Search..." class="form-control">
                            <a href="">
                                <i class="fa fa-search"></i>
                            </a>
                        </form>
                    </li>
                    <li>
                        <a class="profile-pic" href="#"> <img src="../dashboard/plugins/images/users/varun.jpg"
                                alt="user-img" width="36" class="img-circle"><b class="hidden-xs">François</b></a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-header -->
            <!-- /.navbar-top-links -->
            <!-- /.navbar-static-side -->
        </nav>
        <!-- End Top Navigation -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav slimscrollsidebar">
                <div class="sidebar-head">
                    <h3><span class="fa-fw open-close"><i class="ti-close ti-menu"></i></span> <span
                            class="hide-menu">Navigation</span></h3>
                </div>
                <ul class="nav" id="side-menu">
                    <li style="padding: 70px 0 0;">
                        <a href="/admin/dashboard" class="waves-effect"><i class="fa fa-clock-o fa-fw"
                                aria-hidden="true"></i>Membres</a>
                    </li>
                    <li>
                        <a href="/admin/brasseurs" class="waves-effect"><i class="fa fa-columns fa-fw"
                                aria-hidden="true"></i>Les Brasseurs</a>
                    </li>
                    <li>
                        <a href="/admin/departement" class="waves-effect"><i class="fa fa-columns fa-fw"
                                aria-hidden="true"></i>Les Departements</a>
                    </li>
                    <li>
                        <a href="/admin/villefrance" class="waves-effect"><i class="fa fa-columns fa-fw"
                                aria-hidden="true"></i>Les villes de France</a>
                    </li>
                    <li>
                        <a href="/admin/articles" class="waves-effect"><i class="fa fa-table fa-fw"
                                aria-hidden="true"></i>Actualités</a>
                    </li>
                    <li>
                        <a href="../" class="waves-effect"><i class="fa fa-user fa-fw"
                                aria-hidden="true"></i>Accueil</a>
                    </li>

                </ul>


            </div>

        </div>
        <!-- ============================================================== -->
        <!-- End Left Sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page Content -->
        <!-- ============================================================== -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Dashboard</h4>
                    </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">

                        <ol class="breadcrumb">
                            <li><a href="#">Dashboard</a></li>
                        </ol>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
                <!-- ============================================================== -->
                <!-- Different data widgets -->
                <!-- ============================================================== -->
                <!-- .row -->
                <div class="row">
                    <div class="col-lg-4 col-sm-6 col-xs-12">
                        <div class="white-box analytics-info">
                            <h3 class="box-title">Total Actualités</h3>
                            <ul class="list-inline two-part">
                                <li>
                                    <div id="sparklinedash"></div>
                                </li>
                                <li class="text-right"><i class="ti-arrow-up text-success"></i> <span
                                        class="counter text-success"> <%= totalActubeers %> </span></li>
                            </ul>
                        </div>
                    </div>

                </div>
                <!--/.row -->
                <!--row -->
                <!-- /.row -->

                <!-- ============================================================== -->
                <!-- table -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12">
                        <div class="white-box">
                            <div class="col-md-3 col-sm-4 col-xs-6 pull-right">

                            </div>
                            <h3 class="box-title">Utilisateurs</h3>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>id</th>
                                            <th>Titre</th>
                                            <th>Contenu</th>
                                            <th>Auteur de l'article</th>
                                            <th>image</th>
                                            <th>Date de l'article</th>
                                            <th>Date de publication</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% actubeer.forEach((actu, index) => { %>
                                        <tr>
                                            <td><%= actu.actu_id %></td>
                                            <td><%= actu.actuTitle %></td>
                                            <td><%= actu.actuContent %></td>
                                            <td><%= actu.author %></td>
                                            <td><%= actu.image %></td>
                                            <td><%= actu.Date %></td>
                                            <td><%= actu.created_at %></td>
                                        </tr>
                                        <% }) %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- chat-listing & recent comments -->
                <!-- ============================================================== -->
                <!-- formulaire pour ajouter un article -->
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-sm-6">
                            <form method="POST" action="#" enctype="multipart/form-data">
                                <div class="form-group input">
                                    <label for="actu_id">
                                        <h4>id</h4>
                                    </label>
                                    <input type="text" class="form-control" id="actu_id" name="actu_id">
                                </div>

                                <div class="form-group input">
                                    <label for="actuTitle">
                                        <h4>Titre de l'article</h4>
                                    </label>
                                    <input type="text" class="form-control" id="actuTitle" name="actuTitle">
                                </div>
                                <div class="form-group">
                                    <label for="actuContent">
                                    </label>
                                    <h4>Contenu de l'article</h4>
                                    <div id="summernote" id="actuContent" name="actuContent">
                                    
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="author">
                                        <h4>Auteur de l'article</h4>
                                    </label>
                                    <input class="form-control" type="text" name="author" id="author"></input>
                                </div>
                                <div class="form-group">
                                    <label for="Date">

                                    </label>
                                    <h4>Date de article</h4>
                                    <input type="date" class="form-control" id="Date" name="Date">
                                </div>

                                <div class="form-group">
                                    <label for="created_at">
                                    </label>
                                    <h4>Date de publication</h4>
                                    <input type="date" class="form-control" id="created_at" name="created_at">
                                </div>

                                <div class="form-group">
                                    <label for="file">
                                        <h5>Image</h5>
                                    </label><br>
                                    <input type="file" id="file" name="file">
                                    <br><br>
                                </div>
                                <input type="submit" class="btn btn-primary" value="Ajouter un article">
                            </form>
                        </div>
                    </div>
                </div>
                <script>
                    $('#summernote').summernote({
                        placeholder: 'contenu article',
                        tabsize: 2,
                        height: 100
                    });
                </script>



                <%- include('../partial/admin/footer.ejs') %>