<%- include('partial/head.ejs')%>

<body>
    <!-- ? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="../assets/img/logo/loder.png" alt="brasseur et biere">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <%- include('partial/header.ejs')%>
    <main>
        <!--? slider Area Start-->
        <div class="slider-area position-relative">
            <div class="slider-active">
                <!-- Single Slider -->
                <div class="single-slider slider-height d-flex align-items-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-7 col-lg-9 col-md-8 col-sm-9">
                                <div class="hero__caption">
                                    <span style="color:white;" data-animation="fadeInLeft" data-delay="0.1s">BREWER &
                                        BEER</span>
                                    <h1 data-animation="fadeInLeft" data-delay="0.4s">venez Decouvrir les Brasseurs de
                                        France
                                        et leurs Biéres.</h1>
                                    <a href="/auth/register" class="btn hero-btn" data-animation="fadeInLeft"
                                        data-delay="0.8s">S'inscrire</a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Slider -->
                <div class="single-slider slider-height d-flex align-items-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-7 col-lg-9 col-md-8 col-sm-9">
                                <div class="hero__caption">
                                    <span style="color:white;" data-animation="fadeInLeft" data-delay="0.1s">BREWER &
                                        BEER</span>
                                    <h1 data-animation="fadeInLeft" data-delay="0.4s">L'ABUS D'ALCOOL EST DANGEREUX POUR
                                        LA SANTÉ, À CONSOMMER AVEC MODÉRATION.</h1>
                                    <a href="/auth/login" class="btn hero-btn" data-animation="fadeInLeft"
                                        data-delay="0.5s">Se connecter</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Video icon -->
            <div class="video-icon">
                <a class="popup-video btn-icon" href="https://www.youtube.com/watch?v=rglhHIjscBQ"><i
                        class="fas fa-play"></i></a>
            </div>
        </div>
        <!-- slider Area End-->
        <!--? About Area Start -->

        <section class="about-area section-padding30">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12">
                        <!-- about-img -->
                        <div class="about-img ">
                            <img src="../assets/img/gallery/about.png" alt="histoire de la biere">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="about-caption">
                            <!-- Section Tittle -->
                            <div class="section-tittle section-tittle3 mb-35">
                                <span>le savoir biére</span>
                                <h2>la fabrication de la biere remonte a l'antiquité!</h2>
                            </div>
                            <p class="pera-top text-justify"> La bière est l'un des breuvages alcoolisés les plus
                                anciens. Les
                                premières traces de son existence remontent à
                                environ 4000 ans avant J-C en Mésopotamie. Des tables d'argile témoignent de la présence
                                d'une boisson fermentée
                                élaborée à base de grains, le Sikaru. Ce breuvage fort apprécié a été l'objet de
                                différentes croyances tout au long
                                de son histoire.</p>
                            <p class="mb-65 pera-bottom"></p>
                            <a href="" class="btn">savoir plus</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- About-2 Area End -->
        <!--? Services Area Start -->
        <section class="services-area pt-100 pb-150 section-bg" data-background="../assets/img/gallery/sectionbg1.jpg"
            alt="bars a biere">
            <!--? Want To work -->
            <section class="wantToWork-area w-padding">
                <div class="container">
                    <div class="row align-items-end justify-content-between">
                        <div class="col-lg-6 col-md-10 col-sm-10">
                            <div class="section-tittle section-tittle2">
                                <span style="color:white;">brewer & beer</span>
                                <h2>l'actualitées</h2>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
            <!-- Want To work End -->
            <% actubeer.forEach((actu, index) => { %>
            <div class="container ">
                <div class="row ">

                    <div class="col-lg-8 col-md-8 col-sm-10">

                        <div class="single-cat text-center mb-50 ">
                            <div class="cat-icon">
                                <i class=""></i>
                                <div class="cat-cap">
                                </div>
                                <h1 style="text-transform: uppercase;"><%= actu.actuTitle %></h1>
                                <p class="text-justify"> <%= actu.actuContent %></p>
                            </div>
                            <div class="img-cap">
                                <h2 style="text-transform: uppercase; "><%= actu.author %><i
                                        style="font-size: 15px;"><%= actu.Date %></h2>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
            <% }) %>
        </section>
        <!-- Services Area End -->
        <!--? About-2 Area Start -->
        <section class="about-area2 testimonial-area section-padding30 fix">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5 col-md-11 col-sm-11">
                        <!-- about-img -->
                        <div class="about-img2">
                            <img src="../assets/img/gallery/affichevintage.jpg" alt="lieu brasseurs et biéres">
                            <!-- Shape -->
                            <div class="shape-qutaion d-none d-sm-block">
                                <img src="../assets/img//gallery/qutaion.png"
                                    alt="Tégestophilie soucoupe et capsule bieres">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-9 col-sm-9">
                        <div class="about-caption">
                            <!-- Section Tittle -->
                            <div class="section-tittle mb-55">
                                <span>poésie beer</span>
                                <h2>Abreuver votre soif avec ces mots</h2>
                            </div>
                            <!-- Testimonial Start -->
                            <div class="h1-testimonial-active">
                                <!-- Single Testimonial -->
                                <div class="single-testimonial">
                                    <div class="testimonial-caption">
                                        <p> "Je sais que la bière fait grossir et que je devrais y renoncer. Mais j'ai
                                            préféré renoncer à la coquetterie"</p>
                                        <div class="rattiong-caption">
                                            <span>Michel Audiard<span>tonton flingueur</span> </span>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single Testimonial -->
                                <div class="single-testimonial">
                                    <div class="testimonial-caption">
                                        <p>Bien sûr que je suis de gauche ! Je mange de la choucroute et je bois de la
                                            bière.</p>
                                        <div class="rattiong-caption">
                                            <span>Jacques Chirac<span>viva la corona</span> </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-testimonial">
                                    <div class="testimonial-caption">
                                        <p>La bière, consommée avec modération, adoucit l'humeur, remonte le moral et
                                            améliore la santé.</p>
                                        <div class="rattiong-caption">
                                            <span>Thomas Jefferson<span>il fut le 3éme US </span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Testimonial End -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- About-2 Area End -->
        <!--? Gallery Area Start -->
        <div class="gallery-area">
            <div class="container-fluid p-0 fix">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="box snake mb-30">
                            <div class="gallery-img big-img"
                                style="background-image: url(../assets/img/gallery/image1.jpg)" alt="biere blanche">
                            </div>
                            <div class="overlay">
                                <div class="overlay-content">
                                    <a href="/gallery"><i class="ti-eye"></i></a>
                                    <h3></h3>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                         <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="box snake mb-30">
                                    <div class="gallery-img small-img"
                                        style="background-image: url(../assets/img/gallery/image2.jpg);" alt:"biere
                                        brune"></div>
                                    <div class="overlay">
                                        <div class="">
                                            <a href="/gallery"><i class=""></i></a>
                                            <h3></h3>
                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="box snake mb-30">
                                    <div class="gallery-img small-img"
                                        style="background-image: url(../assets/img/gallery/image3.jpg);"></div>
                                    <div class="overlay">
                                        <div class="">
                                            <a href="/gallery"><i class=""></i></a>
                                            <h3></h3>
                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="box snake mb-30">
                                    <div class="gallery-img small-img"
                                        style="background-image: url(../assets/img/gallery/image4.png);"></div>
                                    <div class="overlay">
                                        <div class="">
                                            <a href="/gallery"><i class=""></i></a>
                                            <h3></h3>
                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="box snake mb-30">
                                    <div class="gallery-img small-img"
                                        style="background-image: url(../assets/img/gallery/image5.jpg);"></div>
                                    <div class="overlay">
                                        <div class="">
                                            <a href="/gallery"><i class=""></i></a>
                                            <h3></h3>
                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Gallery Area End -->

        <!--? Want To work -->
        <section class="wantToWork-area w-padding">
            <div class="container">
                <div class="row align-items-end justify-content-between">
                    <div class="col-lg-6 col-md-9 col-sm-9">
                        <div class="section-tittle">
                            <span>devenez membre </span>
                            <h2>venez Decouvrir les brasseurs de votre region</h2>
                        </div>
                    </div>


                    <!-- <a href="services.html" class="btn wantToWork-btn f-right">More Services</a> -->

                </div>
            </div>
        </section>
        <!-- Want To work End -->
        <!--? Team Ara Start -->
        <div class="team-area pb-150">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-team mb-30">
                            <div class="team-img">
                                <img src="../assets/img/gallery/gallery7.jpg" alt="actualitées de la biere">
                                <div class="team-caption">
                                    <span>brewer's beer</span>
                                    <h3><a href="#">actualitées</a></h3>
                                    <!-- Blog Social -->
                                    <div class="team-social">
                                        <ul>
                                            <li><a href="https://www.facebook.com/brasseurs.france/"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="https://twitter.com/brasseursfrance?lang=fr"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="https://www.instagram.com/brasseursdefrance/"><i class="fab fa-instagram"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-team mb-30">
                            <div class="team-img">
                                <img src="../assets/img/gallery/gallery4.jpg" alt="evenements brasseries">
                                <div class="team-caption">
                                    <span>brewer's beer</span>
                                    <h3><a href="#">événements</a></h3>
                                    <!-- Blog Social -->
                                    <div class="team-social">
                                        <ul>
                                            <li><a href="https://www.facebook.com/brasseurs.france/"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="https://twitter.com/brasseursfrance?lang=fr"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="https://www.instagram.com/brasseursdefrance/"><i class="fab fa-instagram"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-team mb-30">
                            <div class="team-img">
                                <img src="../assets/img/gallery/gallery3.jpg" alt="musique et bieres">
                                <div class="team-caption">
                                    <span>brewer's beer</span>
                                    <h3><a href="#">decouverte</a></h3>
                                    <!-- Blog Social -->
                                    <div class="team-social">
                                        <ul>
                                            <li><a href="https://www.facebook.com/brasseurs.france/"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="https://twitter.com/brasseursfrance?lang=fr"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="https://www.instagram.com/brasseursdefrance/"><i class="fab fa-instagram"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Team Ara End -->
        <!--? Want To work -->
        <section class="wantToWork-area w-padding section-bg" data-background="../assets/img/gallery/section_bg02.png">
            <div class="container">
                <div class="row align-items-center justify-content-between">
                    <div class="col-xl-6 col-lg-7 col-md-8 col-sm-10">
                        <div class="wantToWork-caption">
                            <h2>le meilleur de l'étè tout en douceur.</h2>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-3">
                        <!-- <a href="services.html" class="btn wantToWork-btn f-right">More Services</a> -->
                    </div>
                </div>
            </div>
        </section>
        <!-- Want To work End -->
        <!--? Date Tabs Start -->
        <section class="date-tabs section-padding30">
            <div class="container">
                <!-- Section Tittle -->
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-8">
                        <div class="section-tittle text-center mb-100">
                            <span>en attendant</span>
                            <h2>les événements de la semaine</h2>
                        </div>
                    </div>
                </div>
            </div>


        </section>
        <!-- Date Tabs End -->

        <!--? Blog Area Start -->
        <section class="home-blog-area section-padding30">
            <div class="container">
                <!-- Section Tittle -->
                <div class="row justify-content-center">
                    <div class="col-lg-7 col-md-9 col-sm-10">
                        <div class="section-tittle text-center mb-100">
                            <span>lieu de rdv</span>
                            <h2>les brasseries</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="home-blog-single mb-30">
                            <div class="blog-img-cap">
                                <div class="blog-img">
                                    <img src="../assets/img/gallery/beer.jpg" alt="brasseries">
                                    <!-- Blog date -->
                                    <div class="blog-date text-center">
                                        <span></span>
                                        <p>Maintenant</p>
                                    </div>
                                </div>
                                <div class="blog-cap">
                                    <span>brewer's beer</span>
                                    <h3><a href="blog_details.html">Découvrir les artisans de la biére à travers des
                                            lieux et des régions </a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="home-blog-single mb-30">
                            <div class="blog-img-cap">
                                <div class="blog-img">
                                    <img src="../assets/img/gallery/beerlondon.jpg" alt="region et bieres">
                                    <!-- Blog date -->
                                    <div class="blog-date text-center">
                                        <span></span>
                                        <p>Naintenant</p>
                                    </div>
                                </div>
                                <div class="blog-cap">
                                    <span>brewer's beer</span>
                                    <h3><a href="blog_details.html">Decouvrir des centaines de biéres différentes</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Blog Area End -->
    </main>
    <%- include('partial/footer.ejs')%>